{% extends "template.html" %}
{% block title %} About {% endblock %}

{% block css %}

.PYG-jumbo-header-img{
background-image: url("../static/images/programming-bg.jpg");
background-size: cover;
}

.PYG-bg-lightblue{
background-color: #49d3e9;
}
{% endblock %}

{% block content %}
  <div class="jumbotron jumbotron-fluid PYG-jumbo-header-img">
    <div class="container">
      <h1 class="text-center PYG-IBM-font py-4"><mark class="PYG-bg-lightblue">>>> About Us: Python Thing</mark></h1>
    </div>
  </div>
  <div class="container">
    <p class="text-center" style="font-size:30px;"> Python Thing Group is a group on discord specifically for Python
    beginners. You can interact with other group memebers to develop programming
    skills.
  </div>
{% endblock %}