{% extends "template.html" %}

{% block title %} Login {% endblock %}

{% block css %}
.test {
font-size: 50px;
}
body {
scroll-snap-type: y mandatory;
overflow-y: scroll;
}
{% endblock %}

{% block content %}
<div class="container d-flex text-center PYG-scroll-child" style="width:100vw;
                                                                  height:100vh;
                                                                  margin-right:auto;
                                                                  margin-left:auto;">
  <form class="signin" style="margin-top: auto; margin-bottom: auto;">

    <img class="mb-4" src="{{url_for("static", filename="images/python-logo.png")}}"style="width:10vw;">
    <h1 class="mb-4"> Log In </h1>
    {{ form.hidden_tag() }}
    {{ form.email(placeholder="Email" ,size=40, style="width: 20vw; height:40px;") }}
    {{ form.password(placeholder="Password",size=40,style="width: 20vw; height:40px;") }}
    <a href="/signup"><p style="margin-left:5 "><small>Don't have an account</small></a>
    <span>
    <button style="margin-left:auto; margin-right: auto; width: 10rem;" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
  </form>
</div>
{% endblock %}