{% extends "template.html" %}

{% block title %} Sign up {% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<div class="container d-flex text-center PYG-scroll-child " style="width:20vw; height:100vh;">

  <form method="post" class="signin" style="margin-top: auto; margin-bottom: auto;">

    <img class="mb-4" src="{{url_for("static", filename="images/python-logo.png")}}"style="width:10vw;">
    <h1 class="mb-4"> Sign Up </h1>
     {% with messages= get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                  <p>The name or account is already created
                {% endfor %}
            {% endif %}
      {% endwith %}
 
    {{ form.csrf_token }}
    {{ form.username(placeholder="Nickname", size=40,style="width: 20vw; height:40px;") }}
    {{ form.email(placeholder="Email" ,size=40, style="width: 20vw; height:40px;") }}
    {{ form.password(placeholder="Password",size=40,style="width: 20vw; height:40px;") }}
    {{ form.confirm(placeholder="Confirm Passwaord",size=40,style="width: 20vw; height:40px;") }}
    <button style="margin-left:auto; margin-right: auto;width: 20vw;" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
  </form>
</div>




{% endblock %}

<!-- Comment 
{{ form.hidden_tag() }}
{{ form.username(placeholder="Nickname", size=40,style="width: 20vw; height:40px;") }}
{{ form.email(placeholder="Email" ,size=40, style="width: 20vw; height:40px;") }}
{{ form.password(placeholder="Password",size=40,style="width: 20vw; height:40px;") }}
{{ form.confirm(placeholder="Confirm Passwaord",size=40,style="width: 20vw; height:40px;") }}
-->
